/* mat-card {
	border-radius: 4px;
	padding-right: 3%;
	box-sizing: border-box;

	&:hover {
		animation: changeColor 0.2s;
		cursor: pointer;
		padding-right: 0;
	}
}

@keyframes changeColor {
	0% {
		padding-right: 3%;
	}
	100% {
		padding-right: 0;
	}
}

mat-card-title,
mat-card-subtitle {
	color: black;
}
 */
.card-content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-right: 3%;
	box-sizing: border-box;
}