<mat-expansion-panel
  hideToggle
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header expandedHeight="6rem" collapsedHeight="6rem">
    <div class="header">
      <div>
        <p class="title">{{ store().data.name }}</p>
        <p class="subtitle">{{ store().data.category }}</p>
      </div>
      <mat-icon class="arrow-icon" fontIcon="arrow_forward_ios"></mat-icon>
    </div>
  </mat-expansion-panel-header>
  <p>prova content {{ store().data.name }}</p>
</mat-expansion-panel>
