.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    margin: 0;
  }
}

.mat-expansion-panel-header {
  color: black;
  background: var(--beige);
}

mat-expansion-panel-header.mat-expanded,
mat-expansion-panel-header.mat-expanded:focus {
  background: var(--dark-beige);

  .arrow-icon {
    transition: 0.2s;
    rotate: 90deg;
  }
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  transition: 0.2s;
  background: var(--dark-beige);
}

.mat-expansion-panel.mat-expanded
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: var(--dark-beige);
}

.mat-expansion-panel:not(.mat-expanded) {
  border-radius: 8px !important;
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  border-radius: 8px 8px 0 0 !important;
}
