@use '@angular/material' as mat;

:root {
	--light-green: #b7b7a4;
	--green: #a5a58d;
	--dark-green: #6b705c;
	--light-beige: #ffe8d6;
	--beige: #ddbea9;
	--dark-beige: #cb997e;

	/* material overrides */
	color-scheme: light dark;

  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));

	@include mat.paginator-overrides((
    container-text-color: black,
    container-background-color: var(--green),
  ));

	@include mat.button-toggle-overrides((
    selected-state-background-color: var(--green),
    shape: 'square'
  ));

	@include mat.progress-spinner-overrides((
    active-indicator-color: var(--light-green),
  ));
}

html,
body {
	height: 100%;
	background-color: var(--light-beige);
}

body {
	margin: 0;
}

.mat-mdc-row:hover {
	transition: 0.2s;
	background-color: var(--light-green) !important;
}