mat-form-field {
	width: 30rem;
}

.form-container {
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 1rem	;
}

.input-row {
	display: flex;
	gap: 15px;
}

.mat-mdc-text-field-wrapper {
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
}

.button-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	.delete-icon {
		color: red;
	}

	.edit-enabled {
		background: var(--light-beige);
	}
}