mat-form-field, mat-card {
  width: 30rem;
}

mat-dialog-content {
	width: 35rem;
  height: fit-content;
	min-height: 40vh;
  max-height: 70vh;
}

.form {
  ::ng-deep .mat-mdc-tab-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    padding-top: 1rem;
  }
}

.mat-mdc-text-field-wrapper {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
	margin-top: 1rem;

  .edit-enabled {
    background: var(--light-beige);
  }
}

button .delete-icon {
  color: red;
}

.card-add {
	display: flex;
	justify-content: center;
}

.review-container {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}