@for (store of stores; track $index) {
	<app-store-card [store]="store" (navigate)="onCardNavigate(store)"></app-store-card>
	<app-store-card [store]="store" (navigate)="onCardNavigate(store)"></app-store-card>
	<app-store-card [store]="store" (navigate)="onCardNavigate(store)"></app-store-card>
	<app-store-card [store]="store" (navigate)="onCardNavigate(store)"></app-store-card>
	<app-store-card [store]="store" (navigate)="onCardNavigate(store)"></app-store-card>
	<app-store-card [store]="store" (navigate)="onCardNavigate(store)"></app-store-card>
}