<div class="dashboard-container">
  <div class="header">
    <mat-paginator
      class="paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      showFirstLastButtons="true"
      [pageSizeOptions]="pageSizeOptions"
    >
    </mat-paginator>
    <mat-button-toggle-group
      hideSingleSelectionIndicator="true"
      [value]="viewGrid"
      (change)="onViewChange($event)"
    >
      <mat-button-toggle [value]="false">
        <mat-icon fontIcon="list"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="true">
        <mat-icon fontIcon="grid_view"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-accordion [class]="viewGrid ? 'grid' : 'list'" [multi]="false" [displayMode]="'flat'">
    @for (store of storesPaginated; track $index) {
    <mat-expansion-panel
      #panel
      hideToggle
      [class]="panel.expanded && viewGrid ? 'selected-grid' : ''"
    >
      <mat-expansion-panel-header expandedHeight="6rem" collapsedHeight="6rem">
        <div class="expansion-header">
          <div>
            <p>{{ store.data.name }}</p>
            <p>{{ store.data.category }}</p>
          </div>
          <mat-icon class="arrow-icon" fontIcon="arrow_forward_ios"></mat-icon>
        </div>
      </mat-expansion-panel-header>
	    @if (panel.expanded) {
        <app-store [store_id]="store.id"></app-store>
      }
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
